$color-blue:#2f6dce;
$color-red:#ff3939;
$color-near-white:#e8f6ff;
$color-black:#2d2d2d;
$color-grey:#6f6f6f;
$color-dodger-grey:#484848;


$font-family-bold: "Nunito Sans", "Arial", sans-serif;
$font-family-regular: "Roboto", "Arial", sans-serif;