.site-header__info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 25px;

    &--desc{
        max-width: 650px;
        width: 100%;
        margin-right: 30px;
        background: url("../img/icons/vector-line.svg") no-repeat 70% 65%;

        div{
            max-width: 350px;
            width: 100%;
            text-align: center;
    
            .calculate{
                padding: 20px 45px;
                border: 1px solid $color-blue;
                border-radius: 50px;
                display: block;
                text-decoration: none;
                font-size: 22px;
                line-height: 1;
                color: $color-blue;
                text-transform: uppercase;
                transition: 0.3s ease-in-out;

                &:hover{
                    background-color: $color-blue;
                    color: #fff;
                }
                &:active{
                    opacity: 0.7;
                }
            }
        }
    }
}

.site-title{
    text-transform: uppercase;
    font-family: $font-family-bold;
    font-weight: 900;
    font-size: 60px;
    line-height: 1;
    color: $color-blue;
    margin-top: 0;
    margin-bottom: 15px;
}

.site-caption{
    font-family: $font-family-bold;
    font-weight: 900;
    font-size: 25px;
    line-height: 32px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
}

.site-header__info--text{
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    color: #484848;
    max-width: 450px;
    margin-top: 0;
    margin-bottom: 50px;
}

.buttons-container{
    display: flex;
    flex-direction: column;
    padding: 25px;
    align-items: center;
    width: 100%;
    max-width: 600px;
    background: url("../img/images/window.png") no-repeat 100% center;
    background-size: contain;
    .btn-winter{
        margin-bottom: 15px;
        white-space: nowrap;
    }
}

@include breakpoint-down(1125px){
    .site-header__info{
        flex-direction: column;
    }
    .site-header__info--desc{
        background: url("../img/icons/vector-line.svg") no-repeat 100% 65%;
        background-size: 10%;
        margin-right: 0;
        text-align: center;

        .site-header__info--text, div{
            margin-left: auto;
            margin-right: auto;
        }
    }

    .buttons-container{
        max-width: 100%;
        align-items: flex-start;
    }
}

@include breakpoint-down(700px){
    .buttons-container{
        display: none;
    }
}

@include breakpoint-down(560px){
    .site-header__info--desc{
        background: url("../img/icons/vector-line.svg") no-repeat 100% 50%;
        background-size: 10%;
        .site-title{
            font-size: 32px;
            line-height: 1;      
        }

        .site-caption{
            font-size: 20px;
            line-height: 24px;
        }

        .site-header__info--text{
            font-size: 16px;
            line-height: 20px;
        }

        div .calculate{
            white-space: nowrap;
            font-size: 16px;
            line-height: 1;
        }
    }
}