.site-main__title{
    padding: 8px 30px;
    border: 2px solid $color-blue;
    border-radius: 6px;
    max-width: 920px;
    width: 100%;
    margin-top: 0;
    margin-bottom: 45px;
    background-color: #fff;
    color: $color-blue;

    &-blue{
        background-color: $color-blue;
        color: #fff;
    }
}
.site-main__info{
    margin-bottom: 70px;
    display: flex;
    justify-content: space-between;
}
.main-info__aside{
    margin-right: 60px;

    &-content{
        padding: 28px 18px;
        max-width: 330px;
        width: 100%;
        border-radius: 6px;
    
        .main-info__caption{
            text-align: center;
            margin-top: 0;
            margin-bottom: 20px;
        }
    
        .aside-content__list{
            @include list-unstyled;
        }
    
        .aside-content__item{
            display: flex;
            font-size: 16px;
            line-height: 24px;
    
            &::before{
                content: "";
                margin-right: 6px;
                flex-shrink: 0;
            }
    
            p{
                margin: 0;
            }
        }
    }

    &-top{
        border: 2px solid #fff;
        background-color: #E8F6FF;
        margin-bottom: 18px;
    
        .aside-content__item{
            align-items: baseline;
    
            &::before{
                width: 12px;
                height: 12px;
                background: url("../img/icons/check-Icon.png") no-repeat center center;
                background-size: contain;
            }
        }
    }
    
    &-bottom{
        border: 6px solid $color-blue;
    
        .aside-content__item{
            align-items: center;
    
            &::before{
                width: 6PX;
                height: 6PX;
                background: $color-blue;
                border-radius: 100%;
                background-size: contain;
            }
        }
    }
}

.main-info__offer{
    max-width: 880px;
    width: 100%;
    &-list{
        @include list-unstyled;
        margin-bottom: 30px;
    }

    &-item{
        font-size: 18px;
        line-height: 24px;

        &::before{
            display: inline-block;
            content: "";
            width: 6px;
            height: 6px;
            border-radius: 10px;
            background-color: $color-black;
            margin-right: 5px;
            transform: translateY(-2px);
        }
    }

    &-danger{
        display: flex;
        font-size: 14px;
        line-height: 20px;
        color: #E05C5C;
        margin-bottom: 35px;

        &::before{
            display: block;
            content: "";
            width: 18px;
            height: 18px;
            background: url("../img/icons/warning.svg") no-repeat center center;
            background-size: contain;
            flex-shrink: 0;
            margin-right: 6px;
        }
    }

    div{
        max-width: 540px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;

        p{
            font-size: 12px;
            line-height: 18px;
            color: #000;
        }
    }
}

.slider-container{
    position: relative;
    padding: 50px 0;
    background-color: #f9f9f9;

    &__caption{
        text-align: center;
        color: $color-blue;
        margin-bottom: 30px;
    }

    &__buttons{
        .btn-change{
            position: absolute;
            z-index: 10;
            
            &__left{
                left: 10%;
                top: 50%;
            }
            
            &__right{
                right: 10%;
                top: 50%;
            }
        }
    }

    .slider-controller{
        margin-right: auto;
        margin-left: auto;
        text-align: center;

        &__button{
            background: $color-red;
            border: 1px solid $color-red;
            box-shadow: 0px 22px 44px -12px rgba(255, 57, 57, 0.69);
            border-radius: 6px;
            font-weight: bold;
            font-size: 18px;
            line-height: 24px;
            color: #fff;
            padding: 11px 14px;
            transition: 0.3s ease;

            &:hover{
                background-color: transparent;
                color: $color-red;
            }

            &-active{
                background: transparent;
                border-color: $color-blue;
                color: $color-blue;
            }
        }
    }
}

.slider{
    position: relative;
    width: 840px;
    height: 223px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    overflow-x: hidden;
    
    &-items__container{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        display: flex;
        flex-direction: row;
        transition: transform 0.5s ease-in-out;
    }
    &-item{
        display: flex;
        flex-direction: row;
        width: 100%;
        background-color: #fff;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

        &__discount{
            display: inline-flex;
            justify-content: center;
            align-items: center;
            border-radius: 6px 0 0 6px;
            padding: 45px 10px;
            background-color: $color-red;

            &-title{
                font-family: $font-family-bold;
                font-style: normal;
                font-weight: 900;
                font-size: 32px;
                line-height: 48px;
                transform: rotate(-90deg);
            }
        }

        &__info{
            display: flex;
            width: max-content;

            &-product{
                display: flex;
                align-items: center;
                flex-grow: 1;
                padding: 10px 25px 10px 50px;
            }
        }

        .info-product__image{
            margin-right: 40px;
        }

        .info-product__title{
            font-family: $font-family-bold;
            font-weight: 900;
            font-size: 32px;
            line-height: 40px;
        }

        &__info-cost{
            display: flex;
            flex-direction: column;
            justify-content: center;
            background-color: $color-blue;
            color: #fff;
            padding: 55px 22px;
            border-radius: 0 6px 6px 0;

            .info-cost__text{
                font-size: 16px;
                line-height: 1;
                margin-top: 0;
                margin-bottom: 20px;
                white-space: nowrap;
            }

            .info-cost__caption{
                white-space: nowrap;
                font-weight: 900;
                font-size: 42px;
                line-height: 24px;
                margin: 0;
            }

            .info-cost__caption-sub{
                font-size: 24px;
                line-height: 24px;
            }
        }
    }
}

.bg-white{
    padding-bottom: 80px;
}
.bg-near-white{
    margin-bottom: 80px;
    padding: 80px 0;
    background-color: #E8F6FF;

    .title-right{
        margin-left: auto;
        text-align: end;
    }

    .main-info__offer{
        margin-right: 30px;
    }
    .main-info__aside{
        margin-right: 0;
    }

    .slider-container{
        background-color: #fff;
    }
}

@include breakpoint-down(1125px){
    .slider-container{
        .btn-change{
            top: 80%;
        }
    }
}

@include breakpoint-down(900px){
    .slider{
        width: 478px;
        &-item{
            box-shadow: none;
            &__discount{
                padding: 45px 6px;

                &-title{
                    font-size: 22px;
                    line-height: 1;
                }
            }

            &__info{
                flex-direction: column;
    
                &-cost{
                    flex-direction: row;
                    padding: 10px 15px;
                }
            }

            .info-product__image{
                width: 90px;
                height: 90px;
            }
            .info-product__title{
                font-size: 18px;
                line-height: 24px;
            }
            .info-cost__caption{
                font-size: 28px;
                line-height: 24px;
            }
        }
    }
}
@include breakpoint-down(750px){
    .bg-near-white {
        .main-info__offer{
            margin-right: 0;
        }
    }
    .site-main__container.container{
        padding-left: 0;
        padding-right: 0;

        .site-main__info {
            padding-left: 20px;
            padding-right: 20px;
        }
        .site-main__title{
            max-width: 80%;
        }
    }

    .site-main__info {
        flex-direction: column;
        align-items: center;

        .main-info__aside{
            margin-right: 0;
            margin-bottom: 30px;
        }
    }
}

@include breakpoint-down(600px){
    .slider{
        width: 340px;

        .slider-item__info-product{
            padding: 10px;
        }

        .info-product__image{
            margin-right: 15px;
        }
    }
    .slider-controller__button{
        span{
            display: none;
        }
    }

    .site-main__title{
        font-size: 22px;
        line-height: 26px;
    }
}